@model Assessment.Domains.PaketSoals.PaketSoal

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <main role="main" class="pb-3">
        <h2>Manage PaketSoal </h2>
        <div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link active">Create New</a></li>
                        <li class="nav-item"><a class="nav-link " asp-action="Index">List</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Tipe" class="control-label"></label>
                                        <input asp-for="Tipe" class="form-control" />
                                        <span asp-validation-for="Tipe" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="MataPelajaran" class="control-label"></label>
                                        <input asp-for="MataPelajaran" class="form-control" />
                                        <span asp-validation-for="MataPelajaran" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Domain" class="control-label"></label>
                                        <input asp-for="Domain" class="form-control" />
                                        <span asp-validation-for="Domain" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Kelas" class="control-label"></label>
                                        <input asp-for="Kelas" class="form-control" />
                                        <span asp-validation-for="Kelas" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TingkatKesulitan" class="control-label"></label>
                                        <input asp-for="TingkatKesulitan" class="form-control" />
                                        <span asp-validation-for="TingkatKesulitan" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Keterangan" class="control-label"></label>
                                        <input asp-for="Keterangan" class="form-control" />
                                        <span asp-validation-for="Keterangan" class="text-danger"></span>
                                    </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="row">
    <div class="col-md-4">
        <form >
            <div class="form-group">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
